// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.header-title{
    font-size: 16px;
    display: block;
}

.page-content {
    background: #CCCCCC;

    .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .content-box {
        padding: 20px 20px 0px 20px;
    }

    ion-row {
        align-items: center;
        text-align: center;
    }

    ion-item {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-top: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }

    .autocomplete-item{
        padding-left: 6px !important;
        font-size: 0.6em;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        border: 1px solid #aaa !important;
        box-shadow: 1px !important;
    }

    .searchbar-md .searchbar-search-icon{
        left: 0px !important;
    }

    .searchbar-input{
        padding-left: 25px !important;
        font-size: 1.6em;
    }

    .autocomplete-list{
        left: 0px;
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    .radius-0{
        border-radius: 0px !important;
    }

    .action-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
    }

    .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
    }

    .success-btn {
        background: #51CFB1;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
    }

    .primary-btn {
        color: #ffffff;
        font-size: 0.8em;
    }

    .searchbar-md{
        padding: 0px !important;
    }

    .label-md{
        margin: 1px 8px 1px 0 !important;
    }
}




.text-center{
    text-align: center;
}


